body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: space-between;
}

.navbar-logo {
  position: absolute;
  left: 20px; /* Ajusta este valor según necesites */
  flex: 1;
}

.navbar-logo img {
  height: 60px; /* Ajusta el tamaño del logo */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex: 2;
  justify-content: center;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px; /* Ajusta este valor según necesites */
}

.navbar-icons .icon {
  margin-left: 20px;
}

.navbar-icons .icon a {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.navbar-icons .icon a:hover{
  color: #349999;
  box-shadow: #093F51;
}

h1 {
  text-align: center;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* src/components/CompanyCard.css */

.company-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  width: 300px; /* Fija el ancho de las tarjetas */
  min-height: 200px; /* Fija la altura mínima de las tarjetas */
}

.company-card:hover {
  transform: translateY(-5px);
}

.company-logo {
  max-width: 80%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-bottom: 10px; 
  max-height: 150px; /* Fija una altura máxima para las imágenes */
}

.company-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.company-description {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
  flex: 1; /* Asegura que la descripción ocupe el espacio disponible */
}

.company-location {
  font-size: 14px;
  color: #999;
}

.company-button {
  padding: 10px 20px;
  background-color: #093F51;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.company-button:hover {
  background-color: #349999;
}

.nav-toggle {
  color: black;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

/* Media Query for Responsive Navbar */
@media (max-width: 768px) {
  .navbar-links,
  .navbar-icons {
    display: none;
  }

  .navbar-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 15px;
    position: absolute;
    right: 11%; /* Ajusta este valor según necesites */
  }
  .nav-toggle {
    display: block;
    margin-left: 91%;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    text-align: center;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-icons {
    margin-top: 10px;
  }

}

@media (max-width: 480px) {
  .navbar-links,
  .navbar-icons {
    display: none;
  }

  .navbar-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 15px;
    position: absolute;
    right: 15%; /* Ajusta este valor según necesites */
  }
  .nav-toggle {
    display: block;
    margin-left: 88%;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    text-align: center;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-icons {
    margin-top: 10px;
  }

}